nav{
    display:flex;
    justify-content:center;
    background-color: aqua;
}
nav >ul{
    list-style-type: none;
   
}
ul >li{
    display:inline;
    margin : 20px;
  
}

li > a{
    text-decoration:none;
    color:rgb(17, 12, 5);

}